html {

box-sizing: border-box;

}
*, *:before, *after {
box-sizing: inherit;

}
/*---Responsive Image------*/

img{

    max-width: 100%;
}

/*--------Utility Classes*/

.container{
margin:auto;
padding:40px;

}



body{
background-image:url(../img/tudor\ background.jpg);
background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
font-family: "Kings", cursive;

}

a{
    color:#5779EB
}
    h2{ 
        color:#CF5B93;
      
    }
    main{
        background-color:#E6C363;
width:80vw;
max-width:900px;
text-align:left;
color: #2a1a87;
margin:40px auto;
border:4px solid #2a1a87;
border-radius: 5px;

    }
    div.hgroup{

        width:70%;

    }

    nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header.primary nav ul li a{
color:#E6C363;
display:block;
margin-bottom:10px;
background:hsla(249, 68%, 32%, 0.408);
border:1px solid #E6C363;
border-right:10px solid #E6C363;
border-radius:20px 0;
padding:10px 10px 10px 10px;
font-size:.9rem;
text-shadow:2px 3px #2a1a87;
transition:.2s;
}

header.primary nav{
    width:30%;

}
header.primary nav ul li a:hover{
text-decoration:underline;
background: #560646;

}

header.primary nav ul{
    text-decoration: none;
}

    header.primary {
background-color: #2a1a87;
padding:20px;
background-image:url(../img/AdobeStock_919581381.jpeg);
background-size: cover;
background-repeat:no-repeat;
background-position: center;
border:7px solid  #5779EB;
border-radius:5px;
display:flex;
justify-content: space-between;

    }
    div.hgroup h1 a{
color:#5779EB;
text-decoration:none;
font-size:2.5rem;
text-shadow: 1px 1px #E6C363;

    }

#content h2, #content h3{
    color:#560646;
text-shadow: 1px 1px #2a1a87;
border-left:10px solid #CF5B93;
border-radius:15px 0;
text-align:left;
padding:5px 7.5px 0 5px;

}

.hgroup h1, .hgroup h2{

    margin:0;

}