html {

box-sizing: border-box;

}
*, *:before, *after {
box-sizing: inherit;

}
/*---Responsive Image------*/

img{

    max-width: 100%;
}

/*--------Utility Classes*/

.container{
margin:auto;
padding:20px;

}


header nav ul {
  display: grid;
  grid-template-rows: repeat(3, auto); 
  grid-template-columns: repeat(3, max-content); 
  justify-content:left;
  gap: 15px;
  list-style: none;
  padding-top:50px;
  padding-bottom:50px;
  margin: 0 auto;
  width:max-content;
}

header nav li:first-child {
  grid-column: 1 / -1; 
  text-align: center;
  border-bottom: 1px solid #1a3f73;
  padding-bottom: 5px;
}

header nav li {
  text-align: center;
}


body{
background-image:url(../img/tudor\ background.jpg);
background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
font-family: "Quicksand", sans-serif;

}

a{
    color:#04273a;
}
   .primary h2{
        color:#590743;
        font-size: 2.5rem;
text-shadow: 2px 2px #b59c5a;
 position: absolute;
 right:10px;
 bottom:0;
    margin: 0 0 10px 10px;
    }
    main{
        background-color:#b59c5a;
width:100vw;
max-width:900px;
text-align:left;
color: #1a3f73;
margin:40px auto;
border:4px solid #1a3f73;
border-radius: 5px;

    }
    div.hgroup{

        width:70%;

    }

    nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header.primary nav ul li a{
color:#590743;
display:block;
margin-bottom:5px;
background:	#b59c5a;
border:1px solid #1a3f73;
border-top: solid 5px #1a3f73;
border-right:5px solid #1a3f73;
border-radius:20px 0;
padding:10px 10px 10px 10px;
font-size:1.5rem;
text-shadow:.5px 1px #1a3f73;
transition:.2s;
}

header.primary nav{
    width:25%;

}

header.primary{
    font-family: "Kings", cursive;

}

header.primary nav ul li a:hover{
text-decoration:underline;
color:#b59c5a;
background: #590743;

}

header.primary nav ul{
    text-decoration: none;
}

    header.primary {
background-color: #1a3f73;
padding:20px;
background-image:url(../img/tudor-rose.png);
background-size: cover;
background-repeat:no-repeat;
background-position: center;
border:2px solid #b59c5a;
border-radius:3px;
justify-content: space-between;
position: relative;

    }
    div.hgroup h1 a{
      color: #590743;
text-align:center;
width: 50%;
margin: 0 auto;
text-decoration:none;
font-size:3rem;
text-shadow:2px 2px #b59c5a;

    }

#content h2 {
    color:#590743;
text-shadow: 1px 1px 	#b59c5a;
border-left:10px solid #1a3f73;
border-radius:15px 0;
text-align:left;
padding:5px 7.5px 0 5px;
font-family: "Kings", cursive;

}

#content h3{
    color:#590743;
border-left:3px solid #1a3f73;
border-radius:15px 0;
text-align:left;
padding:5px 7.5px 0 5px;
font-family: "Kings", cursive;

}

#content-home {
display:flex;
flex-direction:row;
justify-content:center;
max-width: 800px;


}

#content-home .post{
 box-shadow: 0 4px 8px #1a3f73;  
 padding:10px;
 font-size:.8rem;
}



figure {margin:0}


#content-home time, figcaption{
  text-transform:uppercase;
  font-size:.6rem;

}

#content-home a{color:#004d24;}

.hgroup h1, .hgroup h2{

    margin:0;

}

#content2 {
display:flex;
flex-direction:row;
justify-content:center;
max-width: 500px;


}

#content2 .post{
 box-shadow: 0 16px 32px #1a3f73;
 padding:10px;
 font-size:.8rem;
}

figure {margin:0}


#content2 time, figcaption{
  text-transform:uppercase;
  font-size:.6rem;

}

#content2 a{color:#004d24;}

.hgroup h1, .hgroup h2{

    margin:0;

}
#content{

    line-height:1.4;

}

#content h2, #content h3{
 color:#590743;
 border-left:10px solid #1a3f73;
 border-radius:15px 0;
 padding:5px 7.5px 0 5px;

}


.post figure{
    grid-area: figure;
}

.post figcaption {
    color:#590743;

}


.post h2 a {
    color:#590743;

}
.post .post-content{
    grid-area:post-content;
    color:	#1a3f73;

}

.post .post-meta{
grid-area: footer;
color:#1a3f73;

}

.post .post-meta a{
    color:#b59c5a;
}


aside .container header h2{
    color:#590743;
    font-size:3rem;
    text-shadow: 2.5px 2.5px #1a3f73;
    text-align:center;
    width: 100%;
  margin-bottom: 20px;
    padding:5px 7.5px 0 5px;
    font-family: "Kings", cursive;
}
aside{
    background-color:#b59c5a;
    width:95%;
    margin:20px;
}

figcaption{
    text-align: center;
    color:#590743;
    font-size:1rem;
    text-transform: uppercase;
    margin-top:5px;
}

#content3 figure img{
   max-width: 400px;
   max-height: auto;
   justify-content: center;
   display: block;
   margin: 0 auto;
}

#content3 figcaption{
    text-align: center;
    color:#590743;
    font-size:1rem;
    text-transform: uppercase;
    margin-top:5px;
}

#content3 h2 {
    font-size:2.5rem;
    color:#590743;
text-shadow: 1px 1px #04273a;
text-align:center;
padding:5px 7.5px 0 5px;
font-family: "Kings", cursive;

}

#content3 h3, #content3 h4 {
    color: #590743;
text-align:center;
padding:5px 7.5px 0 5px;
font-family: "Kings", cursive;

}

#queenly h2 {
    color: #590743;
    font-size:2.5rem;
    text-shadow:1px 1px #04273a;
text-align:center;
padding:5px 7.5px 0 5px;
font-family: "Kings", cursive;}

#queenly ul{
    border:#004d24 solid 10px;
    border-radius:10%;
    color:#1a3f73;
    font-size:1.2rem;
    list-style-type:none;
    padding:0;
    margin:20px 0;
    text-align: center;

}

aside .container {
  display: flex;
  flex-wrap: wrap;       
  justify-content: center; 
  gap: 20px;             
  max-width: 1000px;     
  margin: 0 auto; 
  border: 10px solid #004d24; 
  border-radius: 10%;  
}


aside .container header {
  flex: 0 0 100%;        
  text-align: center;   
  margin-bottom: 20px;
}

aside .widget {
  flex: 1;               
  min-width: 300px;      
  max-width: 450px;     
}

aside figure {
  display: flex;
  flex-direction: column;
  align-items: center;   
  text-align: center;
  margin: 0 0 15px 0;
}

aside img {
  max-width: 100%;
  height: auto;
}


.gallery-container {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to a new line */
}

.gallery-item {
    flex: 25%; /* Each item takes up 25% width */
    max-width: 25%;
    box-sizing: border-box;
    padding: 5px;
}

.gallery-item img {
    width: 100%; /* Image fills container width */
    height: auto; /* Maintains aspect ratio */
}

/* Responsive layout: adjust columns for smaller screens */
@media screen and (max-width: 800px) {
    .gallery-item { flex: 50%; max-width: 50%; }
}
@media screen and (max-width: 600px) {
    .gallery-item { flex: 100%; max-width: 100%; }
}


#colophon{
background-image:url(../img/tudor-rose.png);
background-size: cover;
background-repeat:no-repeat;
padding-left:10px;
padding-top:10px;
text-align: center;
color:#ffffff;

}

.footer-buttons {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to new lines */
  justify-content: center; /* Centers the rows */
  gap: 10px; /* Space between buttons */
  padding: 10px;
}

.btn-footer {
  
  flex: 0 0 calc(26.666% - 50px); 
  box-sizing: border-box; /* Ensures padding doesn't break width */
  text-align: center;
  padding: 10px;
  background-color: #b59c5a; /* Example style */
  text-decoration: none;
  color: #1a3f73;
  border: 3px solid #590743;
  border-radius: 5px;
}

/* Optional: Adjust for smaller screens to 2 or 1 row */
@media (max-width: 600px) {
  .btn-footer {
    flex: 0 0 calc(50% - 10px); /* 2 per row on smaller screens */
  }
}
.btn-footer:hover {
    color:#b59c5a;
  background-color: #371a4f;
  border: 3px solid #004d24;
  border-radius: 5px;
}