html {

box-sizing: border-box;

}
*, *:before, *after {
box-sizing: inherit;

}
/*---Responsive Image------*/

img{

    max-width: 100%;
}

/*--------Utility Classes*/

.container{
margin:auto;
padding:20px;

}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

nav ul li a {
  position: relative;
  display: inline-block;
  padding: 10px 25px;
  background-color: #590743;
  border: 5px solid #b59c5a;  
  border-radius: 50px;          
  color: #b59c5a;           
  text-decoration: none;
  font-size:1.5rem;
  
  text-align: center;
  transition: all 0.3s ease-in-out;    
  min-width: 160px;            
}


nav ul li a::after {
  content: attr(data-hover);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.5s ease-in-out;
}

nav ul li a:hover {
  background-color: #b59c5a;    
  color: transparent;           
  border-color: #1a3f73;
}

nav ul li a:hover::after {
    opacity: 1;
  color: #590743;
              
}

nav ul li a:focus {
  outline: none; 
  box-shadow: 0 0 0 10px #b59c5a; 
}

header nav ul {
  display: grid;
  grid-template-rows: repeat(3, auto); 
  grid-template-columns: repeat(3, max-content); 
  justify-content:left;
  gap: 15px;
  list-style: none;
  padding-top:50px;
  padding-bottom:50px;
  margin: 0 auto;
  width:max-content;
}

header nav li:first-child {
  grid-column: 1 / -1; 
  text-align: center;
  border-bottom: 10px solid #590743;
  border-radius: 0 0 20px 20px;

  padding-bottom: 5px;
}

header nav li {
  text-align: center;
}




body {
  background-image: url("../img/tudorbackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  font-family: "Quicksand", sans-serif;
}



a{
    color:#1a3f73;
}
   .primary h2{
        color:#b59c5a;
        font-size: 2.5rem;
text-shadow: 2px 2px #590743;
 position: absolute;
 right:10px;
 bottom:0;
    margin: 0 0 10px 10px;
    }
    main{
        background-color:#b59c5a;
width:80vw;
max-width:1400px;

text-align:left;
color: #1a3f73;
margin:40px auto;


    }
    div.hgroup{

        width:70%;

    }

    nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header.primary{
    font-family: "Kings", cursive;

}



header.primary nav ul{
    text-decoration: none;
}

    header.primary {
background-color: #1a3f73;
padding:20px;
background-image:url(../img/tudor-rose.png);
background-size: cover;
background-repeat:no-repeat;
background-position: center;
border:2px solid #b59c5a;
border-radius:3px;
justify-content: space-between;
position: relative;

    }
    div.hgroup h1 a{
      color: #590743;
text-align:center;
width: 50%;
margin: 0 auto;
text-decoration:none;
font-size:3rem;
text-shadow:2px 2px #b59c5a;

    }

#content h2 {
    color:#590743;
text-shadow: 1px 1px 	#b59c5a;
border-left:10px solid #1a3f73;
border-radius:15px 0;
text-align:left;
padding:5px 7.5px 0 5px;
font-family: "Kings", cursive;

}

#content h3{
    color:#590743;
border-left:3px solid #1a3f73;
border-radius:15px 0;
text-align:left;
padding:5px 7.5px 0 5px;
font-family: "Kings", cursive;

}

#content-home {
display:flex;
flex-direction:row;
justify-content:center;
max-width: 800px;


}

#content-home .post{
 box-shadow: 0 4px 8px #1a3f73;  
 padding:10px;
 font-size:.8rem;
}


#content-home time, figcaption{
  text-transform:uppercase;
  font-size:.6rem;

}

#content-home a{color:#004d24;}

.hgroup h1, .hgroup h2{

    margin:0;

}

#content2 {
display:flex;
flex-direction:row;
justify-content:center;
max-width: 500px;


}

#content2 .post{
 box-shadow: 0 16px 32px #1a3f73;
 padding:10px;
 font-size:.8rem;
}




#content2 time, figcaption{
  text-transform:uppercase;
  font-size:.6rem;

}

#content2 a{color:#004d24;}

.hgroup h1, .hgroup h2{

    margin:0;

}
#content{

    line-height:1.4;

}

#content h2, #content h3{
 color:#590743;
 border-left:10px solid #1a3f73;
 border-radius:15px 0;
 padding:5px 7.5px 0 5px;

}


.post figure{
    grid-area: figure;
}

.post figcaption {
    color:#590743;

}


.post h2 a {
    color:#590743;

}
.post .post-content{
    grid-area:post-content;
    color:	#1a3f73;

}

.post .post-meta{
grid-area: footer;
color:#1a3f73;

}

.post .post-meta a{
    color:#b59c5a;
}


#content3.container {
  display: flex;
  gap: 25px;           
  align-items: center; 
  max-width: 900px;
  margin: 0 auto;
}
#content3.container {
color:#371a4f;
border: 10px solid #004d24;

}

.text-col, .image-col, .image-col2 {
  flex: 1; 
}
 
.text-col {
  border-right: 5px solid #004d24;
  padding-right: 25px;
}

#content3 h3 {
  color: #590743;
  text-align: center;
  padding: 5px 7.5px 0 5px;
  font-family: "Kings", cursive;
  margin-top: 0;
}



#content3 figcaption{
    text-align: center;
    color:#590743;
    font-size:.75rem;
    text-transform: uppercase;
    margin-top:5px;
}


#heirs h2 {

    font-size:2.5rem;
    color:#590743;
text-shadow: 1px 1px #04273a;
text-align:center;

font-family: "Kings", cursive;

}


#content3 h4 {
   color: #590743;
text-align:center;
padding:5px 7.5px 0 5px;
font-family: "Kings", cursive; 

}

#queenly {
    width: 500px;
    max-width: 900px;
    margin: 10px auto; 
    border: #004d24 solid 30px;
    background: #1a3f73;
    border-radius: 100%;
    color: #b59c5a;
    font-size: 1.2rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#queenly {
    cursor: pointer;          
    transition: ease-in-out 0.5s;   
    text-align: center;
    overflow: hidden;      
}

#queenly:hover {
    scale: 1.02;
  background-color: #590743;
  border:#1a3f73 solid 10px;
  border-radius: 100%;              
}

#queenly ul {
    list-style: none; /* Removes bullets */
    padding: 0;
    text-align: center;
}

#queenly li {
    margin-bottom: 8px;
}

.stat-value {
    cursor: pointer;
    text-decoration: underline overline dotted #b59c5a; 
    transition: color 0.3s;
}

.stat-value:hover {
    color: #004d24;
    text-decoration: wavy underline overline #004d24;
}

.stat-value
 {
    color: #ffffff; /* Color change when toggled */
    font-style: italic;
}

span{
    display:block;
    margin-top:10px;
    font-size:1rem;
    text-shadow: 1px 1px #004d24;
}

#queenly h2 {
    color: #b59c5a;
    font-size: 2.5rem;
    text-shadow: 1px 1px #004d24;
    text-align: center;
    margin-top: 0;
    font-family: "Kings", cursive;
}

#queenly ul {
    list-style-type: none; 
    padding: 0;            
    text-align: center;    
}

#queenly li {
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-weight:bold;
}

#queenly li .stat-value {
    color: #b59c5a;
    font-size: 1.2rem;
}

#queenly li .stat-value:hover {
    color: #ffffff;
    font-size: 1.2rem;
}

#resetStats {

  background-color: transparent; 
  border: 2px solid #b59c5a;   
  color: #b59c5a;             
  padding: 10px 30px;           
  border-radius: 50px;           
  margin-top:20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;     
}


#resetStats:hover {
  background-color: #b59c5a;
  color: #1a3f73;
}


#content3 {
  display: flex;
  gap: 30px;
}

.image-col2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: auto auto;         
  gap: 20px;                             
  align-items: start;
}


.image-col2 .enlargeable {
  cursor: pointer;
    transition: filter 0.3s ease;
  max-width: 100%; /* Never larger than its original pixels */
  height: auto;    /* Keep proportions correct */
}

.image-col2 .enlargeable:hover {
    filter: brightness(1.1);
    transform: scale(3); 

}
.image-col2 h3, 
.image-col2 h4 {
  grid-column: 1 / -1; 
  margin-bottom: 0;
  text-align: center;
}

.image-col2 h3{
  font-size:2rem;

}
.image-col2 h4 {
        font-weight: normal;
}
#content3 figure {
  margin: 0;
  padding: 10px;
}

#content3 figure img {
  max-width: 75%; 
  height: auto;
  border: 2px solid #590743; 
  display: block;
  margin: 0 auto;
}

#awards figcaption {
  margin-top: 50px;
  font-size: 1.2rem;
  font-weight:bolder;
  color: #590743;
  background-color:#b59c5a;
  border: 5px #371a4f double;
  text-align: center;
  text-decoration: underline;
}

aside p{
    color:#590743;
    font-size:20px;
    font-family: "Kings", cursive;
    text-align: center;
    margin-top: 0;
}

aside .card-back p{
    color: #590743;
    font-size: 20px;
    font-family: "Kings", cursive;
    text-align: left;
    padding: 20px;
    overflow-y: auto;
} 

.card-back ul, .card-back p{
    color: #590743;
    font-size: 20px;
    font-family: "Kings", cursive;
    padding: 20px;
    margin: 0;
    text-align: left;
    overflow-y: auto;
} 

.card-back{
    background-image:url("../img/tudorbackground.jpg");

}

.card-front {
border:#b59c5a 8px dotted;
padding:5px;
}
.card-back{
border:#590743 8px dotted;
padding:5px;

}


aside header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the h2 and h3 horizontally */
  text-align: center;
}


aside {
  background-color: #1a3f73;
  width: 90%;
  max-width:1200px;
  margin: 40px auto;
  padding: 40px 0;
  border:#371a4f 20px solid;
  box-sizing: border-box;

  min-height: 600px;

  display: flex;
}

aside .container {
  display: flex;
  flex-direction: column;
  justify-content: center;   /* THIS is the key */
  align-items: center;
  width: 100%;
}

aside h2{
  color:#b59c5a;
  text-shadow: 1px 1px #590743;
  font-family: "Kings", cursive;
  font-size:2rem;
  border-right: 6px solid #371a4f;
  border-left:6px solid #371a4f;
  box-shadow:0px 35px 55px #1a3f73;
  border-radius: 15px 15px 0 0;
  display: inline-flex;
  margin-right:10px;
  margin-top:-20px;
  margin-bottom:-10px;
  margin-left:10px;
  padding-left:10px;
  padding-right:10px;
}


aside h3{
  background-color:#590743;
  border: #371a4f solid 10px;
border-radius:50px;
  color:#b59c5a;
  font-size: 1.5rem;
font-weight: bolder;
width:max-content;
text-align:center;
margin-left:auto;
margin-right:auto;
}

.image-col2 h3 {
    margin-bottom: 0; /* Remove space below h3 */
    text-align: center;
}

.image-col2 h4 {
    margin-top: 5px; /* Tiny gap above h4 */
    font-weight: normal;
    color: #555; /* Optional: subtle color for the reign dates */
}

.widget-wrapper {
  display: flex;
  flex-wrap:wrap;
  justify-content: center; 
  align-items:center;  
  gap: 60px;
  width:100%;
  

}

aside .widget {
display: block;
  width: 300px; 
  max-width:300px;
  flex: 0 0 300px;             
}

#awards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 1000;
}

.modal-inner-box { 
  display: flex;
  padding: 20px;
  max-width: 90%;
  max-height: 80%;
  gap: 20px;
  border-radius: 8px;
  align-items: center;
}

.modal-content {
  max-width: 50%;
  max-height: 85%;
  object-fit: contain;
  animation: zoomIn 0.4s ease-in-out;
}

.modal-text {
  flex: 1;
  color: #590743;
  font-size: 30px;
  font-family: "Kings", cursive;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 20px; right: 40px;
  color: #fff;
  font-size: 35px;
  cursor: pointer;
}

@keyframes zoomIn {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

/*card flipping*/

.card {
  perspective: 1000px;
  cursor: pointer;
  height: 450px;
  margin-bottom: 30px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  z-index: 10;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  transform-style: preserve-3d;
}

.card.is-flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0; left: 0; width: 100%; height: 100%;
  border-radius: 10px;
  box-shadow: 0 8px 12px #1a3f73;
}

.card-back {
  transform: rotateY(180deg);
  color: #590743;
  font-size:20px;
  font-family: "Kings", cursive;
  text-align: center;
  padding: 20px;
  overflow-y: auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 90%;
  max-height: 85%;
  object-fit: contain;
}


.modal-container {
  display: flex;
  max-width: 90%;
  max-height: 80%;
  gap: 20px;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 40px;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
}

/* Footer Styling */

  #colophon{
background-image:url(../img/tudor-rose.png);
background-size: cover;
background-repeat:no-repeat;
padding-left:10px;
padding-top:10px;
text-align: center;
color:#ffffff;

}

.footer-buttons {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to new lines */
  justify-content: center; /* Centers the rows */
  gap: 10px; /* Space between buttons */
  padding: 10px;
}

.btn-footer {
  
  flex: 0 0 calc(26.666% - 50px); 
  box-sizing: border-box; /* Ensures padding doesn't break width */
  text-align: center;
  padding: 10px;
  background-color: #b59c5a; /* Example style */
  text-decoration: none;
  color: #1a3f73;
  border: 3px solid #590743;
  border-radius: 5px;
}

/* Optional: Adjust for smaller screens to 2 or 1 row */
@media (max-width: 600px) {
  .btn-footer {
    flex: 0 0 calc(50% - 10px); /* 2 per row on smaller screens */
  }
}
.btn-footer:hover {
    color:#b59c5a;
  background-color: #371a4f;
  border: 3px solid #004d24;
  border-radius: 5px;
}