html {

box-sizing: border-box;

}
*, *:before, *after {
box-sizing: inherit;

}
/*---Responsive Image------*/

img{

    max-width: 100%;
}

/*--------Utility Classes*/

.container{
margin:auto;
padding:40px;

}



body{
background-image:url(../img/tudor\ background.jpg);
background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
font-family: "Quicksand", sans-serif;

}

a{
    color:#1a3f73;
}
   .primary h2{
        color:#88322d;
        font-size: 2.5rem;
text-shadow: 2px 2px #b59c5a;
 position: absolute;
 bottom:0;
    margin: 0 0 10px 10px;
    }
    main{
        background-color:#b59c5a;
width:80vw;
max-width:900px;
text-align:left;
color: #1a3f73;
margin:40px auto;
border:4px solid #1a3f73;
border-radius: 5px;

    }
    div.hgroup{

        width:70%;

    }

    nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header.primary nav ul li a{
color:#742322;
display:block;
margin-bottom:5px;
background:#b59c5a;
border:1px solid #1a3f73;
border-top: solid 5px #1a3f73;
border-right:5px solid #1a3f73;
border-radius:20px 0;
padding:10px 10px 10px 10px;
font-size:1.5rem;
text-shadow:.5px 1px #1a3f73;
transition:.2s;
}

header.primary nav{
    width:25%;

}

header.primary{
    font-family: "Kings", cursive;

}

header.primary nav ul li a:hover{
text-decoration:underline;
color:#b59c5a;
background: #6f1f19;

}

header.primary nav ul{
    text-decoration: none;
}

    header.primary {
background-color: #1a3f73;
padding:20px;
background-image:url(../img/tudor-rose.png);
background-size: cover;
background-repeat:no-repeat;
background-position: center;
border:2px solid  #b59c5a;
border-radius:3px;
display:flex;
justify-content: space-between;
position: relative;

    }
    div.hgroup h1 a{
      color: #6f1f19;
text-align:center;
width: 50%;
margin: 0 auto;
text-decoration:none;
font-size:3rem;
text-shadow:2px 2px #b59c5a;

    }

#content h2, #content h3{
    color:#6f1f19;
text-shadow: 1px 1px #b59c5a;
border-left:10px solid #1a3f73;
border-radius:15px 0;
text-align:left;
padding:5px 7.5px 0 5px;

}

.hgroup h1, .hgroup h2{

    margin:0;

}
#content{

    line-height:1.4;

}

#content h2, #content h3, .widget header h2{
 color:#6f1f19;
 border-left:10px solid #1a3f73;
 border-radius:15px 0;
 padding:5px 7.5px 0 5px;

}

#blog{
background-color: #742322;
padding: 20px 0;
border-top:  6px double #6f1f19;
border-bottom: 6px double #b59c5a;
border-radius:15px 0;

}
#blog .post{

    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "figure header"
    "figure post-content"
    "figure footer";
    margin:20px;
    padding:20px;
    background: #1a3f73;
    border-top:  6px double #b59c5a;
border-bottom: 6px double #b59c5a;
border-radius:15px 0;


}
#blog > h2 {

color:#E6C363;


}

#blog
.post .post-date {
    color:#E6C363;
}
.post figure{
    grid-area: figure;
    margin:0 20px 0 0;
}

.post figcaption {
    color:#6f1f19;

}
.post header{
    grid-area:header;
    
}

.post h2 a {
    color:#6f1f19;

}
.post .post-content{
    grid-area:post-content;
    color:#E6C363;

}

.post .post-meta{
grid-area: footer;
color:#E6C363;



}

.post .post-meta a{
    color:#b59c5a
}
aside .container{
    display:grid;
    grid-template-columns: 2fr 2fr;
    gap:40px;


}
#colophon{
background-size: cover;
background-repeat:no-repeat;
padding:1px;
text-align: center;
color:#ffffff;



}