html {

box-sizing: border-box;

}
*, *:before, *after {
box-sizing: inherit;

}
/*---Responsive Image------*/

img{

    max-width: 100%;
}

/*--------Utility Classes*/

.container{
margin:auto;
padding:40px;
}



body{
background-color: #CF5B93;
font-family: "Cinzel", serif;


}
main{
background-color:#E6C363;
width:80vw;
max-width:980px;
text-align:center;
color: #2a1a87;
margin:40px auto;
border:4px solid #2a1a87;

    }

    header.primary {
padding:20px;
border:10px solid #2a1a87;

    }

    form{ 
text-align:left;
background-color:#E6C363

}
.weight{

    border-bottom: 2px;
    border-bottom-style:dashed;
    border-bottom-color:#2a1a87;

}
.decorative-line {
  border-top: 1px solid #2a1a87; 
  width: 100%;
  margin: 1em 0;
}
textarea {
  width: 75%;
  padding: 10px;
  border: 1px solid #2a1a87;
  resize: vertical;

}
.formlabel {
        display: inline-block;
        width: 150px;
        text-align: right;
        padding: 5px;
        font-weight: bold;
    }
    input[type=submit] {
  
  background-color: #CF5B93;
color:#2a1a87;
    padding:10px 20px;
  text-decoration: none;
  margin: 4px 4px;
  cursor: pointer;
}
.parent-container {

  text-align: center;
  padding:10px;

}
p{
    margin:10px;

}
