html {

box-sizing: border-box;

}
*, *:before, *after {
box-sizing: inherit;

}
/*---Responsive Image------*/

img{

    max-width: 100%;
}

/*--------Utility Classes*/

.container{
margin:auto;
padding:40px;
max-width:900px;

}



body{
background-color: #CF5B93;
font-family: "Cinzel", serif;


}
a{
    color:#5779EB
}
    h2{ 
        color:#CF5B93;
      
    }
    main{
        background-color:#E6C363;

width:80vw;
text-align:left;
margin:20px auto;
border:10px #000;
    }
    div.hgroup{

        width:70%;

    }
header.primary nav ul li a{
color:#E6C363;
display:block;
margin-bottom:10px;
background:#2a1a87;
border:1px solid #E6C363;
border-right:10px solid #E6C363;
border-radius:20px 0;
padding:10px 10px 10px 0;
font-size:.9rem;
text-shadow: 2px 2px #5779EB;
transition:.2s;
}

header.primary nav ul li a:hover{
text-decoration:underline;
background: #560646;

}

header.primary nav ul{
    text-decoration: none;
}

    header.primary {
background-color: #2a1a87;
padding:20px;
background-image:url(../img/bg_1.webp);
background-size: cover;
background-repeat:no-repeat;
border:3px double  #560646;
display:flex;
justify-content: space-between;

    }
    div.hgroup h1 a{
color:#5779EB;
text-decoration:none;
font-size:2.5rem;
text-shadow: 1px 1px #E6C363;

    }

#content h2, #content h3{
    color:#560646;
text-shadow: 1px 1px #2a1a87;
border-left:10px solid #CF5B93;
border-radius:15px 0;
text-align:left;
padding:5px 7.5px 0 5px;

}

.hgroup h1, .hgroup h2{

    margin:0;

}

#content{

    line-height:1.4;

}

#blog .post{

    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "figure header"
    "figure post-content"
    "figure footer";
    margin:20px;
    padding:20px;
    background: hsla(226, 79%, 63%, 0.557);
    


}

.post figure{
    grid-area: figure;
    margin:0 20px 0 0;
}

.post header{
    grid-area:header;

}
.post .post-content{
    grid-area:post-content;
}
.post .post-meta{
grid-area: footer;


}
aside .container{
    display:grid;
    grid-template-columns: 2fr 2fr;
    gap:40px;


}
#colophon{
background-image:url(../img/bg_1.webp);
background-size: cover;
background-repeat:no-repeat;
padding:1px;
text-align: center;
color:#ffffff;



}